
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<h3>Are you sure ?</h3>
<form method="post">
    <button type="submit" class="btn btn-danger">Delete</button><a href="/guides/index" class="btn btn-default">Go Back</a>
</form>

