@model AddPuzzleViewModel

@{
    ViewData["Title"] = "Add Puzzle";
}
 
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Add a new puzzle.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Manufacturer"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty"></label>
                <select asp-for="Difficulty" asp-items="Html.GetEnumSelectList<PuzzleDifficulty>()" class="form-control"></select>
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartsCount"></label>
                <input asp-for="PartsCount" class="form-control" />
                <span asp-validation-for="PartsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartsMaterial"></label>
                <select asp-for="PartsMaterial" asp-items="Html.GetEnumSelectList<PartsMaterial>()" class="form-control"></select>
                <span asp-validation-for="PartsMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Add Puzzle</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}